# Default values for farsight-collector-colo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

########################################
### MUST CONFIGURE TO BE ABLE TO RUN ###
########################################
aws:
  # s3AccessPoint is for colo process to write to
  s3AccessPoint: ""
  # s3Url is for cloud process to read from
  s3Url: ""
  sqsUrl: ""
  defaultRegion: "us-east-1"

nmsg:
  sources:
    - 10.32.202.255/8430
    - 10.32.202.255/8431
    - 10.32.202.255/8432
    - 10.32.202.255/8433
    - 10.32.202.255/8434
    - 10.32.202.255/8435
    - 10.32.202.255/8436
    - 10.32.202.255/8437

###########################
### CONFIGURE IF NEEDED ###
###########################
compressor:
  interval: 5 #seconds
  resources: {}

uploader:
  parallelism: 8 # files uploaded at once
  resources: {}

ramdisk:
  # folders will be generated based on namespace
  # e.g. /dev/shm/colo-ch202/nmsg_partial, /dev/shm/colo-ch202/zst_partial, /dev/shm/colo-ch202/zst_complete
  # e.g. /dev/shm/colo-ch204/nmsg_partial, /dev/shm/colo-ch204/zst_partial, /dev/shm/colo-ch204/zst_complete
  srcPath: /dev/shm
  mountPath: /srv/ramdisk
  nmsgPartialDir: /srv/ramdisk/nmsg_partial
  zstPartialDir: /srv/ramdisk/zst_partial
  zstCompleteDir: /srv/ramdisk/zst_complete


replicaCount: 1

image:
  repository: core-harbor-prod.sdp.infoblox.com/infobloxopen/farsight.collector.colo
  tag: 1.0.3
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

nodeSelector: {}
